html {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

body {
  background-color: #dfe5f0;
}

table {
  table-layout: fixed;
  max-width: 1440px;
  margin: auto;
  border-collapse: collapse;
  border-style: hidden;
  color: #020811;
}

th,
td,
tr {
  text-align: left;
  vertical-align: top;
}

th {
  height: 36px;
  color: rgba(2, 8, 17, 0.6);
  font-weight: 400;
}

th:nth-child(1) {
  width: 264px;
  padding-left: 16px;
}

th:nth-child(2) {
  width: 228px;
}

th:nth-child(3) {
  width: 421px;
}

th:nth-child(4),
th:nth-child(5) {
  width: 176px;
}

th:nth-child(6) {
  width: 176px;
  padding-right: 16px;
}

tbody tr:nth-child(odd) {
  background-color: #fdfdfd;
}

tbody tr:nth-child(even) {
  background-color: #e8f0ff;
}

tbody tr {
  height: 72px;
}

td {
  padding-top: 8px;
  padding-bottom: 8px;
}

td:not(:first-child),
td:not(:last-child) {
  padding-right: 32px;
}

td:first-child {
  padding-left: 16px;
}

td:last-child {
  padding-right: 16px;
}

select {
  width: 220px;
  height: 20px;
  background-color: #dfe5f0;
  color: rgba(2, 8, 17, 0.6);
  border: none;
}

.status {
  display: flex;
  padding: 4px;
  align-items: center;
  gap: 10px;
  width: 232px;
  border-radius: 24px;
}

.status--green {
  background: #d9ffe9;
}
.status--red {
  background: #ffd6d6;
}
.status--orange {
  background: #fff6da;
}

.status__circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.status--orange .status__circle {
  background: var(--surface-caution-secondary, #f2b918);
}
.status--green .status__circle {
  background: rgba(20, 203, 102, 0.4);
}
.status--red .status__circle {
  background: rgba(255, 21, 21, 0.65);
}

td .time {
  margin-left: 16px;
  margin-top: 10px;
}

.user {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.user__icon {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  flex-shrink: 0;
}

.user__icon--yellow {
  background: #ffc935;
}

.user__icon--green {
  background: #2d8d20;
}

.user__icon--blue {
  background: #2551e0;
}

.user__icon--brown {
  background: #5e360f;
}

.user__icon--pink {
  background: #dc31e5;
}

.created {
  display: flex;
  align-items: center;
  gap: 4px;
}

.created__sort {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.created__sort--asc {
  transform: rotate(180deg);
}
.created__sort--desc {
  transform: rotate(0deg);
}

.home {
  position: relative;
}

.home__last-update {
  position: absolute;
  top: 0;
  right: 0;
}

#modal[popover] {
  position: fixed;
  inset: 0;
  box-sizing: border-box;
  transition: opacity 0.3s ease-in-out, overlay 0.3s ease-in-out allow-discrete,
    display 0.3s ease-in-out allow-discrete;
  opacity: 0;
  padding: 24px 16px;
  min-width: 40%;
  &::backdrop {
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease-in-out,
      overlay 0.3s ease-in-out allow-discrete,
      display 0.3s ease-in-out allow-discrete;
  }

  &:popover-open {
    opacity: 1;
    &::backdrop {
      opacity: 1;
    }
    @starting-style {
      opacity: 0;
      &::backdrop {
        opacity: 0;
      }
    }
  }
}

/* Not important */
[popover] {
  border: none;
}

.modal__title {
  margin-bottom: 12px;
  font-size: 22px;
}

.modal__text {
  padding: 12px;
  background: #e8f0ff;
  border-radius: 12px;
}

.popover-button {
  background: rgba(2, 8, 17, 0.08);
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background 0.2s linear;
  text-align: left;
  max-width: auto;
}
.popover-button:hover {
  background: rgba(2, 8, 17, 0.16);
}
