html{
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

body{
    background-color: #DFE5F0;    
}

table{
    table-layout: fixed;    
    max-width: 1440px;
    margin:auto;
    border-collapse: collapse;
    border-style: hidden;
    color: #020811;
}

th,
td,
tr{
    text-align: left;
    vertical-align: top;
}

th{
    height: 36px;
    color: rgba(2, 8, 17, 0.60);
    font-weight: 400;   
}

th:nth-child(1){
    width: 264px;
    padding-left: 16px;
}

th:nth-child(2){
    width: 228px;
}

th:nth-child(3){
    width: 421px;
}

th:nth-child(4), th:nth-child(5){
    width: 176px;
}

th:nth-child(6){
    width: 176px;
    padding-right: 16px;
}

tbody tr:nth-child(odd) {
    background-color: #FDFDFD;
}

tbody tr:nth-child(even) {
    background-color: #E8F0FF;
}

tbody tr{
    height: 72px;       
}

td{
    padding-top: 8px;
    padding-bottom: 8px; 
}

td:not(:first-child), td:not(:last-child){
    padding-right: 32px;
}

td:first-child{
    padding-left: 16px;
}

td:last-child{
    padding-right: 16px;
}

select {
    width: 220px;
    height: 20px;
    background-color: #DFE5F0;
    color: rgba(2, 8, 17, 0.60);
    border: none;
} 

.status{
    display: flex;
    padding: 4px;
    align-items: center;
    gap: 10px;
    width: 232px;    
    border-radius: 24px;        
}

.status--green{
    background: #D9FFE9;
}
.status--red{
    background: #FFD6D6;

}
.status--orange{
    background: #FFF6DA;
}

.status__circle{
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.status--orange .status__circle{    
    background: var(--surface-caution-secondary, #F2B918);
}
.status--green .status__circle{    
    background: rgba(20, 203, 102, 0.40);
}
.status--red .status__circle{    
    background:rgba(255, 21, 21, 0.65);
}

td .time{    
    margin-left: 16px;
    margin-top: 10px;
}

.user{
    display: flex;
    align-items:center;    
}   

.square{
    width: 20px;
    height: 20px;   
    border-radius: 4px;
    flex-shrink: 0;
}

.square--yellow{
    background: #FFC935;
}

.square--green{
    background: #2D8D20;
}

.square--blue{
    background: #2551E0;
}

.square--brown{
    background: #5E360F;
}

.square--pink{
    background: #DC31E5;
}

.user_name{
   padding: 10px;
}

